.featdata-container{
    padding: 0;
    margin: 0;
    position: relative
}

.featdata-text{
    margin: 0;
    padding: 0;
    user-select: none;
    position: absolute;
    font-weight: normal;

    color: white;
    font-family:"Dunfont";
    letter-spacing: .1px;
    
    font-size: 12.5px;
    left: 10px;
}
.featdata-singlecont{
    margin: 0;
    padding: 0;
    position: absolute;
}

.featdata-line-name{
    font-size: 1em;
    width: 185px;
    height: 15px;
}
.featdata-line-shorttxt{
    top: 17px;
    width: 185px;
    height: 50px;
    overflow: auto;
    scrollbar-width: none;
}
.featdata-line-shorttxt::-webkit-scrollbar {
    display: none;
}

.featdata-p-shorttxt{
    margin: 0;
    padding: 0;
    line-height: 11px;
}

.featdata-span-desc{
    top:0px;
    width: 385px;
    height: 200px;
    background-color: teal;
    overflow: auto;
    
    visibility: hidden;
}
.featdata-span-desc:hover{
    visibility: hidden;
    visibility: visible;
}



#featdata-row-0{
    top: 11px;
}
#featdata-row-1{
    top: 96px;
}