:root {
    --background-color: hsl(0, 0%, 35%);
    --font-color-title: hsl(0, 0%, 100%);
    --font-color-subtitle: hsl(0, 0%, 70%);
    --font-color-data: hsl(0, 0%, 100%);

    margin: 0;
    padding: 0;
    scrollbar-width: none;

    background-color: var(--background-color);
}

:root::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Dunfont";
    src: url("./fonts/DUNG.TTF") format("truetype");
    font-weight: normal;
}

@media only screen and (min-width: 500px) {
    :root {
        zoom: .9;
    }
}
@media only screen and (min-width: 1550px) {
    :root {
        zoom: 1.4;
    }
}
@media only screen and (min-width: 1920px) {
    :root {
        zoom: 1.8;
    }
}
@media only screen and (min-width: 2560px) {
    :root {
        zoom: 2.5;
    }
}
@media only screen and (min-width: 4000px) {
    :root {
        zoom: 5.1;
    }
}

.app-container{
    margin: 0;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-container{
    display: grid;
    grid-column-gap: 9px;
    grid-row-gap: 2px;
    grid-auto-flow: row dense;
    
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 92px 92px 92px 92px 92px;

    width: fit-content;
    margin: auto;
    padding: 0;
}

.ASdata-container{
    grid-column: 1;
    grid-row: 1/5;

    zoom: 1.012;
    justify-self: center;
}
.PSdata-container{
    grid-column: 2;
    grid-row: 2/4;

    justify-self: center;
}
.infodata-container{
    grid-column: 2/5;
    grid-row-start: 1;

    zoom: .95;
    justify-self: center;
}

.actionsdata-container{
    justify-self: center;
}

.profsdata-container{
    justify-self: center;
    grid-column: 2;
    grid-row: 4;
}

.classfeatsdata-container{
    justify-self: center;
    grid-column: 5;
}


.mondice-container{
    display : block;
    padding-top: 4px;

    display: flex;
    justify-content: space-around;
}
