:root {
    zoom: .65;
    --background-color: #808080;
    --font-color: hsl(296, 38%, 77%);

    margin: 0;
    padding: 0;

    background-color: var(--background-color);
    zoom: 1.6;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 3px;
}

@font-face {
    font-family: "Dunfont";
    src: url("./fonts/DUNG.TTF") format("truetype");
    font-weight: normal;
}

.app-container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 244px auto auto auto;
    grid-template-rows: 93px 183px 183px auto auto;
}

.ASdata-container{
    /* width 192px */ 
    grid-column-start: 1;
    zoom: 1.25;
}
.PSdata-container{
    grid-column-start: 2;
    grid-row-start: 2;
}
.infodata-container{
    grid-column-start: 2;
}
.Moneydata-container{
    grid-column-start: 2;
    grid-row-start: 5;
}