.Actionsback-container{
    pointer-events: none;
    user-select: none;
    padding: 0;
    margin: 0;
    position: relative
}

.action-title{
    color: white;
    font-family:"Dunfont";
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    user-select: none;
    position:absolute;
    font-weight: normal;
}

.action-name{
    font-size: .8em;
    top: 5px;
    left: 15.5px;
}
.action-hitdc{
    font-size: .8em;
    top: 5px;
    left: 88px;
}
.action-effect{
    font-size: .8em;
    top: 5px;
    left: 107.5px;
}
.action-desc{
    font-size: .8em;
    top: 5px;
    left: 140px;
}
.action-main{
    font-size: 1.3em;
    top: 74px;
    left: 80px;
}